In [3]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached pandas-2.2.3-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
Installing collected packages: pandas
Successfully installed pandas-2.2.3

In [4]:
import pandas as pd

In [7]:
data = data = {'שם': ['שרי','מירי', 'חני', 'רותי'],
        'כיתה': ['יב','יג', 'ט', 'יא'],
        'ממוצע ציונים': [89,88, 92, 95]}
sample = pd.DataFrame(data)
sample

     שם כיתה  ממוצע ציונים
0   שרי   יב            89
1  מירי   יג            88
2   חני    ט            92
3  רותי   יא            95

In [11]:
sample['שם']

0     שרי
1    מירי
2     חני
3    רותי
Name: שם, dtype: object

In [ ]:
sample.loc[4] = ['רחלי',יד,100]

In [ ]:
-----------------------------------------------

In [24]:
df = pd.read_csv('cities.csv')
df

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""",EW,"""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

In [45]:
city_counts = df.groupby(' State').size()
city_counts

 State
AL      2
AZ      1
BC      1
CA     12
CO      3
CT      1
DC      1
DE      1
FL      5
GA      4
IA      2
ID      1
IL      3
IN      4
KS      3
LA      1
MA      2
MB      1
MD      1
MI      4
MN      3
MO      4
MS      2
NB      1
NC      3
ND      2
NJ      1
NM      2
NV      1
NY      5
OH      5
OH      1
OK      2
ON      1
OR      1
PA      6
SA      1
SC      1
SD      3
TX      8
UT      2
VA      4
VT      2
WA      6
WI      4
WV      2
WY      2
dtype: int64

In [46]:
num_rows = df.shape[0]
num_rows

128

In [48]:
num_states = df[' State'].nunique()
num_states

47